.centralizarCARD {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  #logo{
    width: 100px;
    height: 100px;
    color: white;
  }
  #alinhaLogo{
    text-align: center;
  }

  #cadastro{
    text-align: center;
  }

  #cadastro a{
    color: white;
    text-decoration: none;
  }